@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
    // if( Session["UserId"] == false)
    //     return RedirectToAction("login", "login");

}


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


@using (Html.BeginForm())
{
    <script>
        $(document).ready(function () {
            $("#h").fadeIn();
            $("#1").delay(100).fadeIn();
            $("#2").delay(200).fadeIn();
            $("#3").delay(300).fadeIn();
            $("#4").delay(400).fadeIn();
            $("#5").delay(500).fadeIn();
            $("#6").delay(600).fadeIn();
            $("#7").delay(700).fadeIn();
            $("#8").delay(800).fadeIn();
            $("#9").delay(900).fadeIn();
            $("#10").delay(1000).fadeIn();
            $("#11").delay(1100).fadeIn();
            $("#12").delay(1200).fadeIn();
            $("#13").delay(1300).fadeIn();
            $("#14").delay(1400).fadeIn();
            $("#15").delay(1500).fadeIn();
            $("#16").delay(1600).fadeIn();
            $("#17").delay(1500).fadeIn();
            $("#18").delay(1800).fadeIn();
            $("#19").delay(1900).fadeIn();
            $("#20").delay(2000).fadeIn();
            $("#20").delay(2100).fadeIn();
            $("#21").delay(2200).fadeIn();
            $("#22").delay(2300).fadeIn();
            $("#23").delay(2400).fadeIn();
            $("#24").delay(2500).fadeIn();

        });

    </script>

    <br />
    <select name="CategoryTerm" class="MyButton-Rss">
        <option value="Choose Category">Choose Category</option>
        <option value="All Posts">All Posts</option>
        <option value="League of Legends">League of Legends</option>
        <option value="Patch Notes">Patch Notes</option>
        <option value="WPW">WPW</option>
    </select>

    <input type="submit" id="button" value="Click Here To Generate" class="MyButton-Rss" />
    <br />
}
<br />
<br />
<table id="tblFeed" >
    <thead>
        <tr>
            <th id="h" class="TextH">Image</th>
            <th id="h" class="TextH">Title</th>
            <th id="h" class="TextH">Publish Date</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.RSSFeed != null)
        {
            int i = 1;
            

            foreach (var item in ViewBag.RSSFeed)
            {


                <tr id="@i" style="display:none; background-color:lightblue; ">
                    <td><a target="_blank"  href="@item.Url"><img class="Images" src="@item.Image" /></a></td>
                    <td class="Text"><a target="_blank" href="@item.Url">@item.Title</a></td>
                    <td class="Text">@item.Published</td>
                </tr>

                i++;
            }
        }
    </tbody>
</table>
